body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

#bevy_game {
    background-color: grey;
}

.controls {
    display: flex;
    align-items: center;
    gap: 1em;
}

.controls > textarea {
    width: 100%;
    height: 5cm;
}